<h1> Add a new item</h1>

<form action="/insert_item" method="post">
  <div>
    <label for="link_url_box">Link URL</label>
    <input type="text" id="link_url_box" name="query_link_url" placeholder="Enter a URL...">
  </div>
  <div>
    <label for="link_description_box">Link Description</label>
    <input type="text" id="link_description_box" name="query_link_description" placeholder="Enter a link description...">
  </div>
  <div>
    <label for="thumbnail_url_box">Thumbnail URL</label>
    <input type="text" id="thumbnail_url_box" name="query_thumbnail_url" placeholder="Enter a thumbnail URL...">
  </div>
  <button>Create Item </button>
</form>
